@font-face {
  font-family: Lato;
  src: url(/fonts/Lato-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-image: linear-gradient(rgb(232, 135, 16), rgb(233, 170, 9));
}
.content-stop-watch {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.zero {
  font-size: 50px;
  color: #fff;
  font-family: Lato;
}
.btn-watch {
  border: none;
  width: 9em;
  height: 2.5em;
  border-radius: 25px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 17px;
  font-weight: bold;
  font-family: Lato;
}
.btn-watch:hover {
  color: rgb(255, 136, 0);
  transition: background-color 1s;
  font-size: 19px;
  transition: font-size 1s;
}
.btn-watch:focus {
  background-image: linear-gradient(rgb(232, 135, 16), rgb(233, 170, 9));
  color: #fff;
}
.btns {
  padding-top: 2em;
}
a {
  text-decoration: none;
  font-family: Lato;
  color: #fff;
  font-size: 22px;
  margin: 0.5em;
  background-color: rgb(225, 91, 7);
  padding: 0.3em 3em;
  border-radius: 9px;
}
a:hover {
  background-color: rgb(235, 96, 10);
}
.line-bar {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3em;
}